**/*.jld2

*.jl.cov
*.jl.*.cov
*.jl.mem
*.swp
**/*Manifest.toml

deps/build.log
deps/deps.jl
deps/usr

.vscode/
docs/build/
docs/site/
deps
.vscode
**/*.code-workspace

**/tmp*

LocalPreferences.toml
